{% extends 'head.html' %} {% load static %} {% block content %}

<html style="background-color: black;">

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-body">
        <p>
            <a class="menu" id="menu1" href="index">Home</a>
            <br>
            <a class="menu" id="menu2" href="big8">Friends</a>
            <br>
            <a class="menu" id="menu3" href="guess-book">Guest Book</a>
            <br>
            <a class="menu" id="menu3" href="forming">Forming</a>
        </p>
    </div>
</div>

<section class="main" id="core">
    <section class="main centering">
        <p class="mainText" style="font-size: 12vmax">
            4.0.4
        </p>
        <p class="mainText" style="font-size: 12vmax">
            There's nothing here
        </p>
    </section>
</section>


</html>


{% endblock %}