{% extends 'head.html' %} {% load static %} {% block content %}

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-body">
        <p>
            <a class="menu" id="menu1" href="index">Home</a>
            <br>
            <a class="menu" id="menu2" href="big8">Friends</a>
            <br>
            <a class="menu" id="menu3" href="guess-book">Guest Book</a>
            <br>
            <a class="menu" id="menu3" href="forming">Forming</a>
        </p>
    </div>
</div>

<section class="main" id="core">
    <section class="main centering  flex1">
        <p class="titleText robotoCondensed white">
            Schedule Form
            <hr>
        </p>
    </section>

    <section name="form" class="main flex2">
        <form id="form" method="POST">
            <table class="django-table">
                {% csrf_token %} {{ form.as_table }}
            </table>
            <br>
            <center>
                <button type="submit" value="Submit">Submit</button>
            </center>
        </form>
    </section>
</section>

<form method="POST">
    {% csrf_token %}
    <center>
        <button id="redCoral" class='white' name="DeleteALL">Delete All Schedule</button>
    </center>
</form>

<div class='main forming horizon'>
    {% for item in fullset %}
    <div class='schebox flexDef vertical'>
        <div class="scheTitle flexDef vertical flex1">
            <p class="scheTextTitle"> {{item.nama_kegiatan}} </p>
            <hr>
        </div>
        <div class="scheContent flexDef vertical flex2">
            <table id="scheTable">
                <tr>
                    <td>
                        <p>
                            Tanggal
                        </p>
                    </td>
                    <td>
                        <p>
                            : {{item.day}}, {{item.tanggal}}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            Kategori
                        </p>
                    </td>
                    <td>
                        <p>
                            : {{item.kategori}}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            Tempat
                        </p>
                    </td>
                    <td>
                        <p>
                            : {{item.tempat}}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            Jam
                        </p>
                    </td>
                    <td>
                        <p>
                            : {{item.jam}}
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}